<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RailwaysEntities" connectionString="metadata=res://*/RailwaysEDM.csdl|res://*/RailwaysEDM.ssdl|res://*/RailwaysEDM.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string='character set=UTF8;initial catalog=&quot;C:\Users\Depool\Documents\Visual Studio 2010\Projects\RailwaysDBApp\RailwaysDataBase\RAILWAYS.FDB&quot;;user id=SYSDBA;password=masterkey;data source=localhost'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>